body{
  padding-left:0px; margin:0px;
 
  font:normal 12px/17px Arial, Helvetica, sans-serif;
  color:#000000;
  }
  div, p, h1, h2, h3, h4, h5, span, form, input, select, label, text-area, a, img, fieldset, dl, dd, dt, ul, li{ margin:0px; padding:0px;}
  img a{border:none; outline:none;}
  a{text-decoration:none; padding:0; margin:0;}
  body a:visited a:link a:alink{}
  
  .clear{
    line-height:0px;
    font-size:0px;
    clear:both;
    border:0;
  }